# Copy to `.env.local` for local development.
#
# Convex dev deployment:
# - https://proficient-ram-973.convex.cloud
# - https://proficient-ram-973.convex.site

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:proficient-ram-973 # team: launchthatbrand, project: swwfd

NEXT_PUBLIC_CONVEX_URL=https://proficient-ram-973.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://proficient-ram-973.convex.site

